<ion-app>
  <ion-content>
    <hello name="{{ name }}"></hello>
    <p>Start editing to see some magic happen :)</p>

    <ion-button>GREAT IONIC BUTTON</ion-button>
<br><br>
    {{capital|json}}
  </ion-content>
</ion-app>


<!-- <ion-list>
    <ion-item>
      <div >
        <h1 *ngFor = [indicate]>{{ cityName|json }} </h1>
        
        <h2><strong>Temperature:</strong></h2>
        <h2><strong>{{ weatherInfo.temp|json }} ({{ units }})</strong></h2>
        
        <h2><strong>Weather:</strong></h2>
        <h2><strong>{{ weatherInfo.description|json }}</strong></h2>
  
      </div>
    </ion-item>
  </ion-list> -->